<div class="create-product-container">
  <app-alert [showAlert]="showAlert" [alertType]="alertType" [alertMessage]="alertMessage"></app-alert>

  <h3 class="text-center mb-4">Create Product</h3>
  <form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <div class="mb-3 row">
      <div class="col-6">
        <label for="productName" class="form-label asterik">Product Name</label>
        <input type="text" class="form-control" id="productName" placeholder="Enter product name"
          formControlName="productName">
        <span *ngIf="productForm.get('productName')?.touched && productForm.get('productName')?.hasError('required')"
          class="text-danger">
          Product name is required
        </span>
      </div>
      <div class="col-6">
        <label for="title" class="form-label asterik">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title" formControlName="title">
        <span *ngIf="productForm.get('title')?.touched && productForm.get('title')?.hasError('required')"
          class="text-danger">
          Title is required
        </span>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-12">
        <label for="description" class="form-label asterik">Description</label>
        <textarea class="form-control" id="description" rows="3" placeholder="Enter product description"
          formControlName="description"></textarea>
        <span *ngIf="productForm.get('description')?.touched && productForm.get('description')?.hasError('required')"
          class="text-danger">
          Description is required
        </span>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-6">
        <label for="gender" class="form-label asterik">Gender</label>
        <select class="form-control" id="gender" formControlName="genderId" (change)="onGenderSelect($event)">
          <option value="" selected>Select Gender</option>
          <option *ngFor="let gender of genders" [value]="gender?.genderId">{{ gender?.genderName }}</option>
        </select>
        <span *ngIf="productForm.get('genderId')?.touched && productForm.get('genderId')?.hasError('required')"
          class="text-danger">
          Please select gender
        </span>
      </div>
      <div class="col-6">
        <label for="category" class="form-label asterik">Category</label>
        <select class="form-control" id="category" formControlName="categoryId">
          <option value="" selected>Select Category</option>
          <option *ngFor="let category of categories" [value]="category?.categoryId">{{ category?.categoryName }}
          </option>
        </select>
        <span *ngIf="productForm.get('categoryId')?.touched && productForm.get('categoryId')?.hasError('required')"
          class="text-danger">
          Please select a category
        </span>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-6">
        <label for="brandId" class="form-label asterik">Brand</label>
        <select class="form-control" id="brand" formControlName="brandId" (change)="onBrandSelect($event)">
          <option value="" selected>Select Brand</option>
          <option *ngFor="let brand of brands" [value]="brand?.brandId">{{ brand?.brandName }}</option>
        </select>
        <span *ngIf="productForm.get('brandId')?.touched && productForm.get('brandId')?.hasError('required')"
          class="text-danger">
          Please select a brand
        </span>
      </div>
      <div class="col-6">
        <label for="collection" class="form-label">Collection (Optional)</label>
        <select class="form-control" id="collection" formControlName="collectionId">
          <option value="">Select Collection</option>
          <option *ngFor="let collection of collections" [value]="collection?.collectionId">{{
            collection?.collectionName }}</option>
        </select>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-6">
        <label for="colorId" class="form-label asterik">Color</label>
        <select class="form-control" id="colorId" formControlName="colorId">
          <option value="" selected>Select Color</option>
          <option *ngFor="let color of colors" [value]="color?.colorId">{{ color?.colorName }}</option>
        </select>
        <span *ngIf="productForm.get('colorId')?.touched && productForm.get('colorId')?.hasError('required')"
          class="text-danger">
          Please select color
        </span>
      </div>
      <div class="col-6">
        <label for="sizeId" class="form-label asterik">Size</label>
        <select class="form-control" id="sizeId" formControlName="sizeId">
          <option value="" selected>Select Size</option>
          <option *ngFor="let size of sizes" [value]="size?.sizeId">{{ size?.sizeName }}</option>
        </select>
        <span *ngIf="productForm.get('sizeId')?.touched && productForm.get('sizeId')?.hasError('required')"
          class="text-danger">
          Please select size
        </span>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-6">
        <label for="basePrice" class="form-label asterik">Base Price</label>
        <input type="number" class="form-control" id="basePrice" placeholder="Enter base price"
          formControlName="basePrice">
        <span *ngIf="productForm.get('basePrice')?.touched && productForm.get('basePrice')?.hasError('required')"
          class="text-danger">
          Base price is required
        </span>
      </div>
      <div class="col-6">
        <label for="quantity" class="form-label asterik">Total Quantity</label>
        <input type="number" class="form-control" id="quantity" placeholder="Enter total quantity"
          formControlName="quantity">
        <span *ngIf="productForm.get('quantity')?.touched && productForm.get('quantity')?.hasError('required')"
          class="text-danger">
          Total quantity is required
        </span>
      </div>
    </div>
  </form>
  <form [formGroup]="imageForm">
    <div class="file-upload-container mb-3 mt-3">
      <div class="text-left">
        <label for="images" class="form-label asterik">Upload Images</label>
        <span *ngIf="imageForm.get('primaryImg')?.touched && imageForm.get('primaryImg')?.hasError('required')"
          class="text-danger">
          Please select primary image
        </span>
        <span *ngIf="
        (imageForm.get('primaryImg')?.touched && imageForm.get('primaryImg')?.hasError('invalidFileType')) || 
        (imageForm.get('img2')?.touched && imageForm.get('img2')?.hasError('invalidFileType')) ||
        (imageForm.get('img3')?.touched && imageForm.get('img3')?.hasError('invalidFileType')) || 
        (imageForm.get('img4')?.touched && imageForm.get('img4')?.hasError('invalidFileType')) || 
        (imageForm.get('img5')?.touched && imageForm.get('img5')?.hasError('invalidFileType')) " class="text-danger">
          Invalid file type. Allowed types: ".JPG", ".JPEG", ".PNG"
        </span>
        <span *ngIf="
        (imageForm.get('primaryImg')?.touched && imageForm.get('primaryImg')?.hasError('maxFileSize')) || 
        (imageForm.get('img2')?.touched && imageForm.get('img2')?.hasError('maxFileSize')) ||
        (imageForm.get('img3')?.touched && imageForm.get('img3')?.hasError('maxFileSize')) || 
        (imageForm.get('img4')?.touched && imageForm.get('img4')?.hasError('maxFileSize')) || 
        (imageForm.get('img5')?.touched && imageForm.get('img5')?.hasError('maxFileSize')) " class="text-danger">
          Max file size exceeds (10 MB)
        </span>
        <span *ngIf="
        (imageForm.get('primaryImg')?.touched && imageForm.get('primaryImg')?.hasError('multipleExtensions')) || 
        (imageForm.get('img2')?.touched && imageForm.get('img2')?.hasError('multipleExtensions')) ||
        (imageForm.get('img3')?.touched && imageForm.get('img3')?.hasError('multipleExtensions')) || 
        (imageForm.get('img4')?.touched && imageForm.get('img4')?.hasError('multipleExtensions')) || 
        (imageForm.get('img5')?.touched && imageForm.get('img5')?.hasError('multipleExtensions')) "
          class="text-danger">
          File with multiple extensions not allowed
        </span>
        <span *ngIf="
        (imageForm.get('primaryImg')?.touched && imageForm.get('primaryImg')?.hasError('blankFile')) || 
        (imageForm.get('img2')?.touched && imageForm.get('img2')?.hasError('blankFile')) ||
        (imageForm.get('img3')?.touched && imageForm.get('img3')?.hasError('blankFile')) || 
        (imageForm.get('img4')?.touched && imageForm.get('img4')?.hasError('blankFile')) || 
        (imageForm.get('img5')?.touched && imageForm.get('img5')?.hasError('blankFile')) " class="text-danger">
          Blank file not allowed
        </span>
      </div>
      <div class="d-flex justify-content-center">
        <!-- Primary Image  -->
        <div class="image-upload-wrapper">
          <div class="image-upload-square">
            <ng-container *ngIf="imagePreviews[0]; else primaryImg">
              <img [src]="imagePreviews[0]" alt="Preview" class="img-fluid">
            </ng-container>
            <ng-template #primaryImg>
              <div class="no-file-message justify text-center"><i class="fa fa-3x fa-cloud-upload"
                  aria-hidden="false"></i></div>
            </ng-template>
            <input type="file" class="form-control file-input-square" id="primaryImg" formControlName="primaryImg"
              (change)="onFileSelected($event, 0)">
          </div>
          <span class="mt-2">Primary Image</span>
        </div>
        <!-- Other Images -->
        <div class="image-upload-wrapper">
          <div class="image-upload-square">
            <ng-container *ngIf="imagePreviews[1]; else img2">
              <img [src]="imagePreviews[1]" alt="Preview" class="img-fluid">
            </ng-container>
            <ng-template #img2>
              <div class="no-file-message justify text-center"><i class="fa fa-3x fa-cloud-upload"
                  aria-hidden="true"></i></div>
            </ng-template>
            <input type="file" class="form-control file-input-square" id="img2" (change)="onFileSelected($event, 1)"
              formControlName="img2">
          </div>
          <span class="mt-2">Image 2</span>
        </div>
        <div class="image-upload-wrapper">
          <div class="image-upload-square">
            <ng-container *ngIf="imagePreviews[2]; else img3">
              <img [src]="imagePreviews[2]" alt="Preview" class="img-fluid">
            </ng-container>
            <ng-template #img3>
              <div class="no-file-message justify text-center"><i class="fa fa-3x fa-cloud-upload"
                  aria-hidden="true"></i></div>
            </ng-template>
            <input type="file" class="form-control file-input-square" id="img3" (change)="onFileSelected($event, 2)"
              formControlName="img3">
          </div>
          <span class="mt-2">Image 3</span>
        </div>
        <div class="image-upload-wrapper">
          <div class="image-upload-square">
            <ng-container *ngIf="imagePreviews[3]; else img4">
              <img [src]="imagePreviews[3]" alt="Preview" class="img-fluid">
            </ng-container>
            <ng-template #img4>
              <div class="no-file-message justify text-center"><i class="fa fa-3x fa-cloud-upload"
                  aria-hidden="true"></i></div>
            </ng-template>
            <input type="file" class="form-control file-input-square" id="img4" (change)="onFileSelected($event, 3)"
              formControlName="img4">
          </div>
          <span class="mt-2">Image 4</span>
        </div>
        <div class="image-upload-wrapper">
          <div class="image-upload-square">
            <ng-container *ngIf="imagePreviews[4]; else img5">
              <img [src]="imagePreviews[4]" alt="Preview" class="img-fluid">
            </ng-container>
            <ng-template #img5>
              <div class="no-file-message justify text-center"><i class="fa fa-3x fa-cloud-upload"
                  aria-hidden="true"></i></div>
            </ng-template>
            <input type="file" class="form-control file-input-square" id="img5" (change)="onFileSelected($event, 4)"
              formControlName="img5">
          </div>
          <span class="mt-2">Image 5</span>
        </div>
      </div>
    </div>
  </form>




  <div class="mb-3 row">
    <div class="col-8">
      <button type="submit" class="btn btn-outline-success w-100" (click)="addProduct()">Create Product</button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-secondary w-100" (click)="clearForm()">Clear</button>
    </div>
  </div>
</div>