<!-- Topbar Start -->
<div class="container-fluid">
  <div class="row align-items-center bg-secondary py-3 px-xl-5 d-none d-lg-flex">
    <div class="col-lg-4">
      <a routerLink="" class="text-decoration-none">
        <span class="h1 text-uppercase text-primary bg-dark px-2">Urban</span>
        <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Kicks</span>
      </a>
    </div>
    <div class="col-lg-4 col-6 text-left">
      <form action="">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for products">
          <div class="input-group-append">
            <span class="input-group-text bg-transparent text-primary">
              <a routerLink="/shop"><i class="fa fa-search"></i></a>
            </span>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-4 col-6 text-right">
      <p class="m-0">Customer Service</p>
      <h5 class="m-0">+012 345 6789</h5>
    </div>
  </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid bg-dark mb-30 sticky-top">
  <div class="row px-xl-5">
    <!-- Categories Dropdown start -->
    <div class="col-lg-3 d-none d-lg-block">
      <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse"
        href="#categories" style="height: 65px; padding: 0 30px;">
        <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
        <i class="fa fa-angle-down text-dark"></i>
      </a>
      <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light"
        id="categories" style="width: calc(100% - 30px); z-index: 999;">
        <div class="navbar-nav w-100 bg-secondary">

          <!-- Loop through categories -->
          <div class="nav-item" *ngFor="let category of categories">
            <!-- Display dropright for categories with a gender that isn't 'Unisex' -->
            <ng-container *ngIf="category?.genderName !== 'Unisex'; else unisexCategories">
              <div class="dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                  {{ category?.genderName }} <i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0 bg-secondary">
                  <a href="" class="dropdown-item">All</a>
                  <!-- Loop through the subcategories (categories under gender) -->
                  <ng-container *ngFor="let c of category?.categories">
                    <a routerLink="/shop" class="dropdown-item">{{ c?.categoryName }}</a>
                  </ng-container>
                </div>
              </div>
            </ng-container>

            <!-- Display Unisex Categories as Individual Items -->
            <ng-template #unisexCategories>
              <ng-container *ngFor="let unisexCategory of category?.categories">
                <a routerLink="/shop" class="nav-item nav-link">{{ unisexCategory?.categoryName }}</a>
              </ng-container>
            </ng-template>
          </div>

          <!-- Other categories link -->
          <a href="" class="nav-item nav-link">Other</a>
        </div>
      </nav>
    </div>
    <!-- Categories Dropdown end -->
    <!-- Brands Dropdown start -->
    <div class="col-lg-3 d-none d-lg-block">
      <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse"
        href="#brands" style="height: 65px; padding: 0 30px;">
        <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Brands</h6>
        <i class="fa fa-angle-down text-dark"></i>
      </a>
      <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light"
        id="brands" style="width: calc(100% - 30px); z-index: 999;">
        <div class="navbar-nav w-100 bg-secondary">
          <!-- Brands start -->
          <div class="nav-item" *ngFor="let brand of brands">
            <ng-container *ngIf="brand.collections && brand.collections.length > 0; else noCollection">
              <div class="dropdown dropright">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                  {{ brand?.brandName }} <i class="fa fa-angle-right float-right mt-1"></i>
                </a>
                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0 bg-secondary">
                  <a href="" class="dropdown-item">All</a>
                  <ng-container *ngFor="let collection of brand.collections">
                    <a routerLink="/shop" class="dropdown-item">{{ collection.collectionName }}</a>
                  </ng-container>
                </div>
              </div>
            </ng-container>
            <ng-template #noCollection>
              <a href="" class="nav-link">{{ brand?.brandName }}</a>
            </ng-template>
          </div>
          <!-- Brands end -->
          <a href="" class="nav-item nav-link">Other</a>
        </div>
      </nav>

    </div>
    <!-- Brands Dropdown end -->

    <div class="col-lg-6">
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav mr-auto py-0">
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                *ngIf="authenticatedUser && authenticatedUser.role == 'ADMIN'">Utilities <i
                  class="fa fa-angle-down mt-1"></i></a>
              <div class="dropdown-menu bg-secondary rounded-0 border-0 m-0">
                <a href="javascript:void" routerLink="/add-product" class="dropdown-item">Add-Product</a>
                <a href="javascript:void" routerLink="/add-product" class="dropdown-item">Add-Brand</a>
              </div>
            </div>
            <a routerLink="/product-detail" class="nav-item nav-link">Shop Detail</a>
            <a routerLink="/contact" class="nav-item nav-link">Contact</a>
          </div>
          <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
            <a routerLink="/account" class="btn px-0">
              <i class="fas fa-user text-primary mx-1 fa-lg"></i>
              <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;"
                *ngIf="authenticatedUser">0</span>
            </a>
            <a routerLink="" class="btn px-0 ml-3">
              <i class="fas fa-heart text-primary mx-1 fa-lg"></i>
              <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;"
                *ngIf="authenticatedUser">0</span>
            </a>
            <a routerLink="/cart" class="btn px-0 ml-3">
              <i class="fas fa-shopping-cart text-primary mx-1 fa-lg"></i>
              <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;"
                *ngIf="authenticatedUser">0</span>
            </a>
            <a (click)="openModal()" class="btn px-0 ml-3" *ngIf="authenticatedUser">
              <i class="fa fa-sign-out text-primary mx-1 fa-lg"></i>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- Navbar End -->
<app-modal *ngIf="isModalOpen" [isOpen]="isModalOpen" [title]="'Logout'" [body]="'Are you sure want to logout ?'"
  (confirm)="logout()" (closeModal)="closeModal()">
</app-modal>
