<div class="login-container">

  <app-alert [showAlert]="showAlert" [alertType]="alertType" [alertMessage]="alertMessage"></app-alert>

  <h3 class="text-center mb-4">Login</h3>
  <form [formGroup]="loginForm">
    <div class="mb-3">
      <label for="username" class="form-label asterik">Email</label>
      <input type="text" class="form-control mb-2" id="email" placeholder="Enter email" formControlName="email">
      <span *ngIf="this.loginForm.get('email')?.touched && this.loginForm.get('email')?.hasError('required')"
        class="text-danger">Email is required</span>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label asterik">Password</label>
      <input type="password" class="form-control mb-2" id="password" placeholder="Enter Password"
        formControlName="password">
      <span *ngIf="this.loginForm.get('password')?.touched && this.loginForm.get('password')?.hasError('required')"
        class="text-danger">Password is required</span>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="rememberMe">
      <label class="form-check-label" for="rememberMe">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary w-100" (click)="onSubmit()">Login</button>
  </form>
  <p class="text-left mt-3">Don't have an account? <a routerLink="/register">Register Now!</a></p>
</div>
